.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4facfe;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 280px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  background: #4facfe;
  border: none;
  color: white;
  cursor: pointer;
}.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4facfe;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 280px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  background: #4facfe;
  border: none;
  color: white;
  cursor: pointer;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.pexels.com/photos/5491023/pexels-photo-5491023.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}